.m5 {margin: 5px;}
.ml5 {margin-left: 5px;}

.ml5 {margin-left: 5px;}
.mt15 {margin-top:  15px;}

.font12 {font-size: 12px}

.nowrap {white-space: nowrap}
.white {color: white}
.bgwhite {background: #fff}