<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">分类设置</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">分组</label>
                    <div class="col-xs-9">
                        <ui-select multiple ng-model="row.categories">
                            <ui-select-match>
                                {{ $item.name }}
                            </ui-select-match>
                            <ui-select-choices repeat="category in default.categories">
                                {{ category.name }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$dismiss()">
       取消
    </button>
    <button class="btn btn-primary" type="button" ng-click="setCategories(this)">
        设置
    </button>
</div>        