<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">编辑banners</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">图片</label>
                    <div class="col-xs-9">
                        <div pl-upload-common images="edit.images" progress="uploaderProgress1"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">标题</label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="edit.title" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">子标题</label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="edit.subTitle" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">PC端是否显示</label>
                    <div class="col-xs-9">
                        <select class="form-control" ng-model="edit.pc" ng-options="item.text for item in booleanEnum"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">PC端URL</label>
                    <div class="col-xs-9">
                        <select class="form-control" ng-model="edit.mobile" ng-options="item.text for item in booleanEnum"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">移动端 URL</label>
                    <div class="col-xs-9">
                        <input type="text" ng-model="edit.m_link" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">背景色</label>
                    <div class="col-xs-9">
                        <input type="color" class="form-control" ng-model="edit.bg" />
                        <input type="input" class="form-control" ng-model="edit.bg" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$dismiss()">
        取消
    </button>
    <button class="btn btn-primary" type="button" ng-click="save(this)">
       确定
    </button>
</div>